@charset "UTF-8";
/* Tudo em HTML é id no CSS é # (somento trbalha com  um elelmento)
   Tudo em HTML é Class no CSS é . o ponto (trabalho com varios elementos */
body{
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #1e402f; 
}
h1#principal{
    text-align: center;
    background-color: #3c805e;
    color: white;
}
h2{
    color: #3c805e;
}
.básico{
    color: #3c805e;
}
.intermedíario{
    color: #80793c;
}
.avançado{
    color: #803c3c;
}
.destaque{
    background-color: #c5c56070;
}
